# Ambiente Virtual do Python
.venv/

# Banco de dados local
db.sqlite3

# Arquivos de cache do Python
**/__pycache__/
*.pyc

# Pasta de dependências do Node.js
frontend/node_modules/
frontend/dist/

# Arquivos de log do npm
frontend/npm-debug.log*